/* Fix Android */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}

nav h1{
  font-weight: 500;
}

/* Hide checkbox */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Like a link would behave */
label {
  cursor: pointer;
  user-select: none;
}

nav h1, nav ul, nav li {
  display: inline;
}
nav ul {
  padding-left: 0;
  margin: 0;
  float: right;
  line-height: 4em;
}

nav li{
  padding: 0.5em;
}
nav li:last-child{
  padding-right: 0;
}

nav {
  color: #eee;
}

nav .active{
  color: #fff;
  cursor: default;
}

nav .active:hover{
  text-decoration: none;
}

@media screen and (max-width: 44em) {
  nav[role="navigation"] ul {
    display: none;
    height: 100%;
    float: none; /* Overwrite */
    line-height: inherit; /* Overwrite */
  }
  nav[role="navigation"] label {
    position: relative;
    display: block;
    width: 100%;
  }
  nav[role="navigation"] label:after {
    position: absolute;
    right: 0;
    margin: 0.2em 0;
    padding: 0 0.2em;
    border: 1px solid #fff;
    border-radius: 0.25em;
    content: '\2261';
    font-size: 2em;
    line-height: 1;
  }
  nav[role="navigation"] input:checked ~ ul {
    display: block;
  }
  nav[role="navigation"] input:checked ~ ul > li {
    display: block;
    width: 100%;
    padding: 0;
  }
}
