/* Put your CSS here */

html{
	background-color: #F7F7F7;
	overflow-y: scroll; /*Stops width of window changing*/
}

.bg-color{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: background-color 0.25s ease-in-out;
}

body{
	font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5{
	font-weight: 500;
}
a {
	color: inherit;
	text-decoration: none;
	line-height: 2;
}
a:hover{
	text-decoration: underline;
}


h1{
	margin-top: 0;
	margin-bottom: 1em;
	line-height: 1.5;
}

li{ 
	line-height: 2;
}

th, td{
	padding: 1em;
	text-align: left;
	font-size: 1em;
	line-height: 1;
}

td a{
	display: block;
}


header{
	border-bottom: 2px solid #FFF;
	background-color: #AAA;
	color: #FFF;
	text-transform: lowercase;
}

table{
	width: 100%;
}

.clear{
	clear: both;
}

.hide{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.container{
	padding: 0 2em;
	max-width: 1280px;
	margin: auto;
}

.alert-box{
	padding: 1em 2em;
	border-bottom: 2px solid whitesmoke;
	background-color: #888;
	color: #fff;
	line-height: 1em;
	cursor: pointer;
}

.alerts-view {
	min-height: 3.5em;
}

.ico-close{
	float: right;
}

.btn, button {
	padding: 0.5em 1em;
	border: 0 solid #FFF;
	background-color: #DDD;
	color: #000;
}

.btn-warning:hover{ /* Fix */
	background-color: red;
}

/* ==========================================================================
   Input Controls Module
   ========================================================================== */

.controls{
	display: block;
	margin: 2em auto;
	max-width: 100%;
	max-height: 80%;
	width: 30em;
}

.controls-control:hover{
	cursor: pointer;
}

.controls-control .background{
	fill: #aaa;
}

.controls-control:hover .background{
	fill: #888;
}
.controls-control:active .background{
	fill: #555;
}

/* ==========================================================================
   Graph Module
   ========================================================================== */

.graph{
	position: relative;
	padding-bottom: 56.25%; /* 16 by 9 aspect ratio */
	width: 28%; /* Accommodate the 360% of hues. HACKY */
}

.graph-circle{
	position: relative;
	padding-bottom: 30%;
	width: 30%;
	margin: 0 auto 30%;
}

.graph-item{
	width: 10%;
	padding-bottom: 10%; /* Square aspect ratio */
	margin: -5% 0 0 -5%;
	border-radius: 50%;
	position: absolute;
	display: block;
}

/*.graph-circle-svg{
	position: relative;
	width: 100%;
	margin: auto;
}*/


/*
@media (min-width: 384px) {
	svg{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -192px;
		margin-left: -192px;
	}
}*/