{{#each model}}
    {{#link-to 'color' this }}<div class='graph-item' style='left: {{unbound h}}%; top: {{unbound l}}%; z-index: {{unbound s}}; background-color: #{{unbound hex}};'></div>{{/link-to}}
{{/each}}