<h1>About</h1>
<p><em>Emotive Color</em> aims to reach a better understanding of how <strong>colors</strong> create <strong>emotional&nbsp;responses</strong>.
<br/>We collect <strong>data</strong> from users, matching colors to each <strong>demographic's</strong> emotional&nbsp;repsonses.
<br/>This information is then <strong>presented spacially</strong>, enabling targeted, <strong>accurate</strong> usage of individual colors instead of&nbsp;guesswork.</p>
<br/>
{{#link-to 'color.new' class='btn'}}Contribute some data{{/link-to}}

<h4><em>Emotive Color</em> Uses:</h4>
<ul class='list-left'>
    <li>Ember.js</li>
    <li>Three.js (WebGL & 2D Canvas)</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>SVG</li>
</ul>
<ul class='list-left'>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>MongoDB</li>
</ul>
<h4>By <a href='http://camjc.com'>CamJC</a></h4>