<h1>About</h1>
<p><em>Emotive Color</em> aims to reach a better understanding of how <strong>colors</strong> create <strong>emotional&nbsp;responses</strong>.
<br/>We collect <strong>data</strong> from users, matching colors to different demographic's emotional&nbsp;repsonses.
<br/>This information is then <strong>presented spacially</strong>, enabling targeted, <strong>accurate usage</strong> of individual colors instead of&nbsp;guesswork.</p>
{{outlet}}