<header>
    <nav role='navigation'>
        <input type='checkbox' id='menu'>
        <label for='menu' onclick></label>
        <h1>Emotive Color</h1>
        <ul>
            <li>{{#link-to 'color.new'}}Contribute{{/link-to}}</li>
            <li>{{#link-to 'colors'}}Colors{{/link-to}}</li>
            <li>{{#link-to 'emotions'}}Emotions{{/link-to}}</li>
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
        </ul>
    </nav>
</header>
{{view Emotivecolor.AlertListView}}
<div class='container'>
    {{outlet}}
</div>