<header>
    <nav role="custom-dropdown">
        <input type="checkbox" id="menu">
        <label for="menu" onclick></label>
        <h1>Emotive Color</h1>
        <ul>
            <li>{{#linkTo "color.new"}}Contribute{{/linkTo}}</li>
            <li>{{#linkTo "colors"}}Results{{/linkTo}}</li>
            <li>{{#linkTo "about"}}About{{/linkTo}}</li>
        </ul>
    </nav>
</header>
{{view Emotivecolor.AlertListView}}
{{outlet}}